form {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
}

button{
    margin-top: 20px;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

.feedbacks{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}