{% extends 'base.html' %}
{% load static %}

{% block content%}


    <main>
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>
        <div class="post" onclick="location.href='post';">
            <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp'%}">
            <h3>Медведь гризли</h3>
        </div>

    </main>
{% endblock %}