{% extends 'base.html' %}
{% load static %}

{% block content%}

<main>
    <link href="{% static 'css/post.css' %}" rel="stylesheet">
    <h1>Гризли</h1>
    <img src="{% static 'img/c9c3ab82de34b8536862074dee441c2a.webp' %}">
    <p>Вопрос о том, какого медведя считать гризли, не имеет чёткого ответа. Чаще всего подразумевается материковая раса U. a. horribilis[1][2], которая в расширенных системах классификации может быть разбита на несколько самостоятельных подвидов, в том числе U. a. gyas, U. a. stikeenensis, U. a. alascensis и другие. В ряде публикаций имеются в виду животные, обитающие в глубине материка, в то время как приморские называются просто бурыми медведями[3]. Наконец, в наиболее расширенном варианте к гризли, помимо прочего, относят кадьяка — очень крупную расу с Кадьякского архипелага, а также вымершие в XX веке подвиды U. a. californicus и U. a. nelsoni[4]. Название «гризли» сложилось исторически и обычно используется в обиходе и научно-популярной литературе. Специалисты отдают предпочтение словосочетанию «северо-американский бурый медведь», когда речь идёт о географическом контексте, либо указывают на определённый подвид[4][5][3].

        В ранних русскоязычных источниках, в которых о гризли говорилось как об обособленном виде, например переводе «Жизни животных» Альфреда Брема (1866)[6] или втором издании БСЭ (1949—1958)[7], использовался синоним «серый медведь» (в противоположность бурому медведю). В следующем, третьем издании БСЭ (1969—1978) словосочетание было опущено, а сама концепция понятия изменилась в пользу группы подвидов.</p>

</main>
{% endblock %}